<div class="container">
    <div class="affix pos hid-resp">
      <div class="well follow">
        <div>
          <h4 class="small-heading border-top">Tags</h4>
		  <%= react_component('FollowTagsSuggestionsContainer', { tags: @tags }) %>
        </div>
      </div>
    </div> 
  </div>




	